/*
font-family: 'Bellefair', serif;
font-family: 'Lemonada', cursive;
*/
body {
  background-image: url("background3.png");
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Bellefair', serif;

}
h1{
	font-family: 'Lemonada', cursive;
	font-size: 60px;
	color:white;
}
h2{
	font-size: 30px;
	color:white;
}
#header{
	margin-top: 200px;
	padding-left: 350px;
}
#main{
	padding-left: 250px;
}
#cite{
	display: inline-block;
	width:400px;
	float:left;
}
#start_btn{
	padding-top: 50px;
}
a{
	text-decoration: none;
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-khtml-border-radius: 5px;
	border: solid 1px black;
	text-align: center;
	padding:20px;
	color:black;
}
#btn{	
	float:left;
	font-size: 70px;
}
a:hover{
	background: transparent;
		border: solid 1px green;
		color: black;
		box-shadow:5px 5px 15px 5px green;
}
#tutorial{
	margin-top:170px;
	width:250px;
	text-align: center;
	font-family: 'Bellefair', serif;
	font-size:25px;
	margin-left: 613px;
}
